<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"  
    default-lazy-init="true" default-autowire="byName" default-init-method="" default-destroy-method="">  

    <bean id="testBean" class="org.summer.test.TestBean">
    	<property name="name">John</property>
    	<property name="age">20</property>
    	<property name="heigh">173.3</property>
    	<property name="address">
    		<ref bean="bj_address"/>
    	</property>
    </bean>  
    <bean id="bj_address" class="org.summer.test.Address">
    	<property name="country">China</property>
    	<property name="province">Beijing</property>
    	<property name="city">Beijing</property>
    </bean>

	<bean id="constructorTest" class="org.summer.test.ConstructorTest">
		<constructor-arg>
			<value>TestString</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="bj_address" />
		</constructor-arg>
	</bean>

	<bean id="staticFactoryMethodTest" class="org.summer.test.StaticFactory" factory-method="getInstance">
		<constructor-arg>
			<value>TestString</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="bj_address" />
		</constructor-arg>
	</bean>
	
	<bean id="nonStaticFacotry" class="org.summer.test.NonStaticFactory"></bean>
	
	<bean id="beanFromNonStaticFactory" factory-bean="nonStaticFacotry" factory-method="getInstance">
		<constructor-arg>
			<value>TestString</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="bj_address" />
		</constructor-arg>
	</bean>
	
    <bean id="singletonBean" class="org.summer.test.TestBean">
    	<property name="name">John</property>
    	<property name="age">20</property>
    	<property name="heigh">173.3</property>
    	<property name="address">
    		<ref bean="bj_address"/>
    	</property>
    </bean>
    
    <bean id="prototypeBean" class="org.summer.test.TestBean" scope="prototype">
    	<property name="name">John</property>
    	<property name="age">20</property>
    	<property name="heigh">173.3</property>
    	<property name="address">
    		<ref bean="bj_address"/>
    	</property>
    </bean>

    <bean id="testBeanForInitMethod" class="org.summer.test.TestBeanForInitMethod" init-method="initMethod"></bean> 
</beans>  